/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
    color: rgba(250, 246, 242, 1);
    
}

:root {
    --border: .1rem solid rgba(82, 67, 54, 1);
}

body {
    margin: 0;
    color: #fff;
}

.container {
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* HEADRE */

.header {
    background-color: rgba(5, 4, 2, 1);
    height: 180px;
}

.header__up {
    border-bottom: var(--border);
    padding-top: 14px;
    margin-bottom: 11px;
}

.header__contact {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;

}

.header__contact img {
    margin-right: 10px;
}

.number {
    margin-right: 56px;

}

.header__contact h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
}

.header__link {
    display: block;
}

.header__social ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header__social li+li {
    margin-left: 10px;
}

.header__social a {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

.header__social .whats {
    color: #BB8C5F;
}

.header__icons a {
    margin-left: 50px;
}

.basket {
    position: relative;
}

.basket::after {
    content: "17";
    left: 14px;
    bottom: 20px;
    position: absolute;
    width: 24px;
    height: 21px;
    background-color: #BB8C5F;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.header__icons__price {
    margin-right: -45px;
    font-size: 15px;
}

.header__down {
    height: 65px;
}

.header__catalog h4 {
    margin-right: 8px;
    font-weight: 400;
    font-size: 25px;
}

.catalog {
    margin-top: 2px;
    width: 28px;
    height: 28px;
}

.header__search {
    margin-left: 60px;
}

.header__search input {
    width: 418px;
    height: 44px;
    background-color: transparent;
    border: var(--border);
    padding-left: 54px;
    position: relative;
    font-size: 15px;
}

.header__search img {
    position: absolute;
    padding: 8px 16px;
}

.header__nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.header__nav li+li {
    margin-left: 60px;
}


/* HOME */

.home {
    height: 700px;
    background-image: url(../img/home-img.png);
    background-position: center;
    background-color: rgba(3, 2, 1, 1);

}

.home__title {
    padding-top: 110px;
}

.home__title h1 {
    width: 594px;
    font-family: 'Forum';
    font-size: 75px;
    font-weight: 400;
    color: #BB8C5F;
    margin-bottom: 30px;
}

.home__title p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 140%;
    width: 431px;
    margin-bottom: 60px;
}

.home__title button {
    width: 275px;
    height: 70px;
    background: #524336;
    border: 2px solid #BB8C5F;
    font-size: 20px;
}
.main{
    background-color: #EEEEEE;
}

.recomendation {
    margin-top: 120px;
    height: 987px;
}

.recomend__nav ul {
    display: flex;
    list-style-type: none;
    margin-bottom: 37px;

}

.recomend__nav li+li {
    margin-left: 60px;
}

.recomend__nav a {
    color: #3E424B;
    font-weight: 500;
    font-size: 30px;
}

.rec__boxs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
    gap: 1.5rem;
}

.box {
    width: 289px;
    height: 384px;
    background-color: #F5F5F5;
;
}

.box__item {
    margin-bottom: 22px;
    width: 100%;
    position: relative;
    margin-top: 15px;
    color: #E3E3E3;
}

.box__like {
    position: absolute;
    width: 28px;
    height: 28px;
    z-index: 1;
    margin-top: 30px;
    margin-left: 232px;
}


.box h4 {
    color: #3E424B;
    font-size: 17px;
    margin-bottom: 10px;
    margin-left: 30px;
    width: 229px;
}

.box p {
    color: #BB8C5F;
    font-size: 24px;
    margin-left: 30px;

}